@use "../../partials/variables" as *;

.item {
  display: flex;
  align-items: center;
  background-color: $fullist-lilac;
  margin: 1.2rem 1.8rem;
  padding: 1.2rem;
  border-radius: 10px;

  &--checked {
    background-color: #d1ccdc80;
  }

  &__check-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 2.4rem;
  }

  &__check {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }

  &__name {
    &--checked {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}
