@use "../../partials/variables" as *;

.shop-item {
  font-size: 1.4rem;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;

  :last-child {
    border-bottom: none;
  }

  &--active {
    background-color: #f8f8f8;

    & > .shop-item__name {
      color: $fullist-green;
    }
  }

  &__name {
    &:hover {
      color: $fullist-green;
    }
  }
}
