@use "../../partials/variables" as *;

.add-item {
  display: flex;
  align-items: center;
  background-color: $fullist-lilac;
  margin: 0 1.8rem 1.2rem;
  padding: 1.2rem;
  border-radius: 10px;

  &__name {
    margin-left: 2.4rem;
  }
}
