@use "../../partials/variables" as *;
@use "../../partials/typography" as *;

.logo {
  &__container {
    display: flex;
    //   align-items: flex-end;
    color: $fullist-green;
    margin-left: 1rem;
  }

  &__text {
    font-family: "Nobile";
    font-size: 2.8rem;
    color: $fullist-green;
    // font-weight: 400;
    padding-bottom: 2px;
  }

  &__image {
    height: 26px;
    margin-top: -4px;
    margin-left: 2px;
  }
}
