@use "../../partials/variables" as *;

.list-name {
  display: flex;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 1px solid $fullist-black;

  &__link {
    flex-grow: 1;
    margin-left: 0.8rem;
  }
}
