@use "../../partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $fullist-violet;
  padding: 2.4rem 0 1.6rem;

  &__nav {
    display: flex;
    margin-top: 1.2rem;
  }

  &__nav-link {
    color: $fullist-white;
    padding: 0.8rem;
    border-radius: 20px;

    &:hover {
      color: $fullist-white;
      background-color: $fullist-green;
    }
  }
}
