// Import variables
@use "./variables" as *;

// Breakpoint mixins
@mixin med {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin lrg {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin med-lrg {
  @media (min-width: 768px) {
    @content;
  }
}

// Other mixins
@mixin font-sizing($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin content-width($num-columns, $num-gutters) {
  width: calc($num-columns * $column-width + $num-gutters * $gutter-width);
}

@mixin med-content-width($num-columns, $num-gutters) {
  width: calc(
    $num-columns * $med-column-width + $num-gutters * $med-lrg-gutter-width
  );
}

@mixin lrg-content-width($num-columns, $num-gutters) {
  width: calc(
    $num-columns * $lrg-column-width + $num-gutters * $med-lrg-gutter-width
  );
}
