// Colour variables

$fullist-green: #33bc6a;
$fullist-light-green: #42d77d;
$fullist-dark-green: #08605f;
$fullist-black: #1c0f13;
$fullist-white: #fbfbfb;
$fullist-blue: #314cb6;
$fullist-violet: #443850;
$fullist-lilac: #d1ccdc;
$fullist-grey: #606060;
$fullist-grey-light: #a0a0a0b0;
$fullist-grey-lightest: #eeeeee;
$fullist-gold: #f3c00a;
$fullist-red-transparent: #e62d0db0;

$header-height: 10rem;
