@use "../../partials/variables" as *;

.carousel {
  margin-top: 1.2rem;
  background-color: rgba(160, 160, 160, 0.3);
  padding: 1.2rem 1.2rem 0;
  border-radius: 5px;

  &__image-container {
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid $fullist-black;
  }

  &__image {
    // position: relative;
    width: 16rem;
    height: 16rem;
    object-fit: cover;
  }

  &__menu {
    position: absolute;
    bottom: 1rem;
    right: 0;
    background-color: $fullist-grey;
    border-radius: 5px 0 0 5px;
  }

  &__text {
    margin: 0.4rem 0 3rem;
    font-size: 1.6rem;
  }
}
