@use "../../partials/variables" as *;

.delete {
  &__svg {
    fill: $fullist-black;
    z-index: 1;
    margin-right: 0.4rem;
    cursor: pointer;

    &:hover {
      fill: $fullist-red;
    }
  }

  &__path {
    pointer-events: none;
  }
}
