@use "./partials/resets" as *;
@use "./partials/typography" as *;

body {
  background-color: #e5d0cc; //$fullist-pink
}

img {
  height: 30px;
  margin-top: -7px;
  margin-left: 2px;
}

// .logo-container {
//   display: flex;
//   //   align-items: flex-end;
//   color: #33bc6a;
//   margin-top: 10px;
//   margin-left: 10px;
// }

// h2 {
//   // font-weight: 400;
//   padding-bottom: 2px;
// }
