@use "../../partials/variables" as *;

.lists {
  margin: 0 1.2rem;

  &__nav {
    display: flex;
    justify-content: space-around;
    margin: 1.2rem 0;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $fullist-black;
  }

  &__name-container {
    margin: 1.2rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 1.2rem;
  }
}
