@use "../../partials/variables" as *;

.lists {
  margin: 0 1.2rem;

  &__nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
  }

  &__name-container {
    margin: 1.2rem 0;
  }
}
