.container {
  display: flex;
  width: 600px;
  height: 350px;
  margin: 1rem;
}

.map__sidebar {
  width: 30%;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background-color: white;
}

.map__container {
  width: 70%;
}

.heading {
  //   background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  padding: 0 10px;
  font-size: 1rem;
  padding-top: 1rem;
}

.button {
  &--hide {
    display: none;
  }

  &--show {
    display: inline-block;
  }
}
